{% extends "base.html" %}
{% load static %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <p></p>
    </div>
  </div>

    <div class="row">

      <div class="col-md-4 ">
          <img src="{{ STATIC_URL }}images/{{object.slug}}.jpg"/>

      </div>
      <div class=="col-md-8">
        <h1>{{ object.name }}</h1>
          <p>Born: {{ object.dob }}</p>
          <p>{{ object.description }}</p>
          <h2>Known For</h2>

          <ul>
              {% for show in object.movie.all %}
              <li><a href="{% url 'movies:detail' show.slug %}">{{ show.name }}</a></li>
              {% endfor %}
          </ul>
      </div>

    </div>

{% if object == request.user %}
<!-- Action buttons -->

<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

